@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* header section styles start */

/* header-upper-line styles */
.header-upper-line {
    display: flex;
    justify-content: space-between;
    margin: 70px 100px 40px;
    align-items: center;
}

.header-upper-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3A3A3A;
}

.header-upper-menu {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    color: #3A3A3A;
}

.header-upper-menu i {
    font-size: 1.3rem;
}


/* header-main-content styles start */
.header-main-content {
    display: flex;
    gap: 120px;
    padding: 0px 100px;
}

.header-main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 15px;
    margin-top: 100px;
}

.header-main-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 15px;
}

.header-main-button {
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 28px;
    margin-bottom: 150px;
}

.header-main-img {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

/* companies logo section */
.companies-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 90px;
    margin-top: 60px;
}

/* Popular Collection Section */
.popular-collection-section{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-right: 105px;
}
.popular-collection-head{
    text-align: center;
    font-size: 1.56rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.all-products-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    column-gap: 0px;
}

.product-details{
    background-color: #FFFFFF;
    padding: 15px;
    width: 260px;
    height: 415px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.product-details img{
    width: 100%;
}

.product-title{
    margin-top: 12px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 4px;
}

.product-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 4px;
}

.rating-by-number{
    font-size: 1rem;
    font-weight: 600;
    color: #5E6366;
}

.product-description{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #787885;
}

.checked {
    color: orange;
    font-size: 0.7rem;
  }

.see-more-arrow{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    padding-right: 47px;
  }


/* Featured Product section style */
.featured-product-section{
    display: flex;
    gap: 90px;
    padding: 0 125px;
    margin: 90px 0px;
    align-items: center;
}

.featured-product-img{
    /* width: 100%;
    height: 100%; */
}

.featured-product-title{
    font-size: 2rem;
    font-weight: bold;
    color: #0A0826;
}

.featured-product-description{
    font-size: 0.90rem;
    font-weight: bold;
    color: #6C6C6C;
    margin: 15px 0px;
}

.join-now-button{
    background-color: #E02C6D;
    border: none;
    color: white;
    font-size: 0.90rem;
    font-weight: 600;
    padding: 8px 25px;
}






  @media screen and (max-width: 576px) {

    /* header-upper-line styles */
.header-upper-line {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

.header-upper-title {
    font-size: 0.92rem;
    font-weight: bold;
    color: #3A3A3A;
    text-align: center;
}

.header-upper-menu {
    display: flex;
    gap: 30px;
    font-size: 0.6rem;
    font-weight: 600;
    align-items: center;
    color: #3A3A3A;
}

.header-upper-menu i {
    font-size: 1rem;
}


/* header-main-content styles start */
.header-main-content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 30px;
}

.header-main-title {
    font-size: 2rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-top: 0px;
    text-align: center;
}

.header-main-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 15px;
    text-align: center;
}

.header-main-button {
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 28px;
    margin: 0;
}

.header-main-img {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    transform: translateX(-100px), translateY(-40px);
}

/* companies logo section */
.companies-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 90px;
    margin-top: 60px;
}

/* Popular Collection Section */
.popular-collection-section{
    width: 90%;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-left: 34px;
}
.popular-collection-head{
    text-align: center;
    font-size: 1.56rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
    margin-right: 35px;
}

.all-products-collection{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    column-gap: 0px;
}

.see-more-arrow{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    padding-right: 35px;
  }

  }