@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* header section styles start */

/* header-upper-line styles */
.header-upper-line {
    display: flex;
    justify-content: space-between;
    margin: 70px 100px 40px;
    align-items: center;
}

.header-upper-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3A3A3A;
    cursor: pointer;
}

.header-upper-menu {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    color: #3A3A3A;
    cursor: pointer;
}

.header-upper-menu i {
    font-size: 1.3rem;
}



/* header-main-content styles start */
.header-main-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 0px auto;
    width: 85%;
}

.header-main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 15px;
    margin-top: 100px;
}

.header-main-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 25px;
}

.header-main-button {
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 28px;
    margin-bottom: 120px;
    cursor: pointer;
}

.header-main-img-section {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-img {
    margin: 0px auto;
    width: 80%;
}

/* companies logo section */
.companies-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
    padding: 30px 0px;
    width: 80%;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1)) 100% 0 100% 0/1.5px 0 1.5px 0 stretch;
    margin-bottom: 90px;
}



/* Popular Collection Section */
.popular-collection-section {
    width: 75%;
    margin: 0px auto;
}

.popular-collection-head {
    text-align: center;
    font-size: 1.56rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 40px;
}

.all-products-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-details {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.product-details img {
    width: 100%;
}

.product-title {
    margin-top: 12px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 4px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 4px;
}

.rating-by-number {
    font-size: 1rem;
    font-weight: 600;
    color: #5E6366;
}

.product-description {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #787885;
}

.checked {
    color: orange;
    font-size: 0.7rem;
}

.see-more-arrow {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}


/* Featured Product section style */
.featured-product-section {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 90px auto;
    align-items: center;
    width: 80%;
}

.featured-product-title {
    font-size: 2rem;
    font-weight: bold;
    color: #0A0826;
}

.featured-product-description {
    font-size: 0.90rem;
    font-weight: bold;
    color: #6C6C6C;
    margin: 15px 0px;
}

.join-now-button {
    background-color: #E02C6D;
    border: none;
    color: white;
    font-size: 0.90rem;
    font-weight: 600;
    padding: 8px 25px;
    cursor: pointer;
}



/* Footer Styles */
footer {
    background-color: #0A0826;
    text-align: center;
    padding: 50px 0px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 1.30rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-description {
    color: #D9DBE1;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 3px;
}

/* Footer Icon Section Styles */
.footer-icon {
    color: #FFFFFF;
    background-color: #22213C;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}


/* Mouse Hover Styles */
.pink-color-hover:hover {
    color: #E02C6D;
}

.button-hover:hover {
    background-color: #a52051;
}







@media screen and (max-width: 576px) {

    /* header-upper-line styles */
    .header-upper-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    
    .header-upper-title {
        font-size: 1.72rem;
        font-weight: bold;
        color: #E02C6D;
        cursor: pointer;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    
    .header-upper-menu {
        display: flex;
        gap: 22px;
        font-size: 0.8rem;
        font-weight: 600;
        align-items: center;
        color: #3A3A3A;
        cursor: pointer;
        margin-bottom: 50px;
    }
    
    .header-upper-menu i {
        font-size: 0.9rem;
    }




    /* header-main-content styles start */
.header-main-content {
    display: flex;
    flex-direction: column-reverse;
    width: 85%;
    text-align: center;
    gap: 20px;
}

.header-main-title {
    font-size: 1.9rem;
    font-weight: bold;
    color: #3A3A3A;
    margin: 0px;
    margin-bottom: 10px;
}

.header-main-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 25px;
}

.header-main-button {
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}

.header-main-img-section {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 307px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.header-main-img {
    margin: auto;
    width: 80%;
}



/* companies logo section */
.companies-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px auto;
    width: 85%;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1)) 100% 0 100% 0/1.5px 0 1.5px 0 stretch;
    margin-bottom: 50px;
}

.companies-section img{
    width: 16%;
}



/* Popular Collection Section */
.popular-collection-section {
    width: 85%;
    margin: 0px auto;
}

.all-products-collection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.see-more-arrow {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}


/* Featured Product section style */
.featured-product-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
    margin: 60px auto;
    align-items: center;
    width: 80%;
}

.featured-product-img{
    width: 100%;
}
}