@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* header section styles */
header{
    display: flex;
    justify-content: space-between;
    margin: 70px 100px;
    align-items: center;
}

.header-main-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #3A3A3A;
}

.header-menu-section{
    display: flex;
    gap: 30px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    color: #3A3A3A;
}

.header-menu-section i{
    font-size: 1.3rem;
}

